{%extends "base.html"%}

{% block content %}
<p>the quiz....</p>

<form id="form1">
    <div class="container-fluid">
        <div>
        <button class="resetbutton" onClick="reset()">Reset</button>
        <h1 class="quizheading">Quiz</h1>
        </div>
        <div class="quizquestion">
            <p>1. You have a friend that you've had a crush on for a while. At a party, she drinks, and you can tell she is intoxicated. She clearly cannot remember the events of even five minutes ago. She starts coming on to you, and trying to kiss you. What do you do?</p>
            <input type="radio" id="q1ans1" name="q1" value="0" class="radiocheck">
            <label for="q1ans1">Kiss her back and allow things to escalate. </label><br>
            <input type="radio" id="q1ans2" name="q1" value="1" class="radiocheck">
            <label for="q1ans2">Stop her and tell her that you will talk more when she's sober. Try to make sure she is safe and sober her up. CORRECT ANSWER HERE</label><br>
            <input type="radio" id="q1ans3" name="q1" value="0" class="radiocheck">
            <label for="q1ans3">Don't let her kiss you and leave her at the party.</label><br>
            <input type="radio" id="q1ans4" name="q1" value="0" class="radiocheck">
            <label for="q1ans4">Let her kiss you, but don't let things go any further. </label><br>
        </div>

        <div class="quizquestion">
            <p>2. You let the girl from the previous question kiss you, and things have escalated to the bedroom. You leave to go to the bathroom and when you get back you realise she has passed out/fallen asleep. What do you do?</p>
            <input type="radio" id="q2ans1" name="q2" value="1" class="radiocheck">
            <label for="q2ans1">Put her in the recovery position and make sure she is safe. Do not attempt to continue sexual activity. CORRECT ANSWER HERE</label><br>
            <input type="radio" id="q2ans2" name="q2" value="0" class="radiocheck">
            <label for="q2ans2">Go home.</label><br>
            <input type="radio" id="q2ans3" name="q2" value="0" class="radiocheck">
            <label for="q2ans3">Continue as if nothing had happened, and keep kissing her. </label><br>
            <input type="radio" id="q2ans4" name="q2" value="0" class="radiocheck">
            <label for="q2ans4">Wake her up so you can continue.</label><br>
        </div>

        <div class="quizquestion">
            <p>3. You are on a date. It has been going well, and at the end of the night they invite you into their house for a drink. You start kissing them, but you get the sense that they're not very enthusiastic. What do you do?</p>
            <input type="radio" id="q3ans1" name="q3" value="1" class="radiocheck">
            <label for="q3ans1">Ask them if they are okay to continue, or if they would like to stop. CORRECT ANSWER HERE</label><br>
            <input type="radio" id="q3ans2" name="q3" value="0" class="radiocheck">
            <label for="q3ans2">Carry on kissing them. If they wanted to stop, they would say something. </label><br>
            <input type="radio" id="q3ans3" name="q3" value="0" class="radiocheck">
            <label for="q3ans3">Become more aggressive in an attempt to make them more into it. </label><br>
            <input type="radio" id="q3ans4" name="q3" value="0" class="radiocheck">
            <label for="q3ans4">Stop completely and don't speak to them for the rest of the night.</label><br>
        </div>

        <div class="quizquestion">
            <p>4. You are at a party. You see a man and a woman talking. The woman is visibly uncomfortable, while the man is leaning over her, clearly trying to hit on her. What do you do?</p>
            <input type="radio" id="q4ans1" name="q4" value="0" class="radiocheck">
            <label for="q4ans1">Say nothing. </label><br>
            <input type="radio" id="q4ans2" name="q4" value="0" class="radiocheck">
            <label for="q4ans2">Knock the man to the floor.</label><br>
            <input type="radio" id="q4ans3" name="q4" value="0" class="radiocheck">
            <label for="q4ans3">Leave the room. </label><br>
            <input type="radio" id="q4ans4" name="q4" value="1" class="radiocheck">
            <label for="q4ans4">Continue to observe, and intervene if the situation escalates. CORRECT ANSWER HERE</label><br>
        </div>

        <div class="quizquestion">
            <p>5. John and Nathan have been going out for a few months now. Nathan tells John that he will break up with him if they don't have sex within a week. John says yes. This is an example of:</p>
            <input type="radio" id="q5ans1" name="q5" value="0" class="radiocheck">
            <label for="q5ans1">Informed consent</label><br>
            <input type="radio" id="q5ans2" name="q5" value="1" class="radiocheck">
            <label for="q5ans2">Coercion. CORRECT ANSWER HERE</label><br>
            <input type="radio" id="q5ans3" name="q5" value="0" class="radiocheck">
            <label for="q5ans3">Implied consent.</label><br>
            <input type="radio" id="q5ans4" name="q5" value="0" class="radiocheck">
            <label for="q5ans4">Enthusiastic consent.</label><br>
        </div>

        <div class="quizquestion">
            <p>6. You and your date are at your house. He reaches over to kiss you, and you kiss him back. You start touching him, but soon he stops you. He says he feels uncomfortable and doesn't want to continue. What do you do? </p>
            <input type="radio" id="q6ans1" name="q6" value="0" class="radiocheck">
            <label for="q6ans1">Stop for a bit, but keep trying later.</label><br>
            <input type="radio" id="q6ans2" name="q6" value="0" class="radiocheck">
            <label for="q6ans2">Ignore his requests to stop, and simply keep going</label><br>
            <input type="radio" id="q6ans3" name="q6" value="0" class="radiocheck">
            <label for="q6ans3">Try to convicne him to keep going. </label><br>
            <input type="radio" id="q6ans4" name="q6" value="1" class="radiocheck">
            <label for="q6ans4">Stop and ask him what happened, and what you can do to make him feel more comfortable. Assure him that he is allowed to stop whenever he wants. CORRECT ANSWER HERE</label><br>
        </div>

        <div class="quizquestion">
            <p>7. You and your date are at her house. You ask her if you can kiss her and she says yes. This is an example of:</p>
            <input type="radio" id="q7ans1" name="q7" value="1" class="radiocheck">
            <label for="q7ans1">Express consent. CORRECT ANSWER HERE</label><br>
            <input type="radio" id="q7ans2" name="q7" value="0" class="radiocheck">
            <label for="q7ans2">Implied consent.</label><br>
            <input type="radio" id="q7ans3" name="q7" value="0" class="radiocheck">
            <label for="q7ans3">Coercion.</label><br>
            <input type="radio" id="q7ans4" name="q7" value="0" class="radiocheck">
            <label for="q7ans4">Consent. 4</label><br>
        </div>

        <div class="quizquestion">
            <p>8. Who CAN give consent?</p>
            <input type="radio" id="q8ans1" name="q8" value="0" class="radiocheck">
            <label for="q8ans1">Children.</label><br>
            <input type="radio" id="q8ans2" name="q8" value="0" class="radiocheck">
            <label for="q8ans2">Intoxicated people.</label><br>
            <input type="radio" id="q8ans3" name="q8" value="1" class="radiocheck">
            <label for="q8ans3">Sober adults. CORRECT ANSWER HERE</label><br>
            <input type="radio" id="q8ans4" name="q8" value="0" class="radiocheck">
            <label for="q8ans4">People who are asleep. </label><br>
        </div>

        <div class="quizquestion">
            <p>9. What is express consent?</p>
            <input type="radio" id="q9ans1" name="q9" value="1" class="radiocheck">
            <label for="q9ans1">Consent that is clearly and unmistakably stated. CORRECT ANSWER HERE</label><br>
            <input type="radio" id="q9ans2" name="q9" value="0" class="radiocheck">
            <label for="q9ans2">Written consent</label><br>
            <input type="radio" id="q9ans3" name="q9" value="0" class="radiocheck">
            <label for="q9ans3">Consent that is given with the full knowledge of what will take place</label><br>
            <input type="radio" id="q9ans4" name="q9" value="0" class="radiocheck">
            <label for="q9ans4">Consent that can be inferred from a person's actions. </label><br>
        </div>

        <div class="quizquestion">
            <p>10. TRUE OR FALSE: Lack of resistance equals consent</p>
            <input type="radio" id="q10ans1" name="q10" value="0" class="radiocheck">
            <label for="q10ans1">True</label><br>
            <input type="radio" id="q10ans3" name="q10" value="1" class="radiocheck">
            <label for="q10ans3">FalseCORRECT ANSWER HERE</label><br>
            
        </div>


    <div class="buttoncontainer">
        <div class="buttoncenter">
            <input class="submitbutton" type="submit" value="Submit">
        </div>
    </div>

        
    </div>
    <p> Your grade is <span id="quizGrade">___</span>/10!</p>
    <p>Now, you can either reset to try again, or save your grade to the database.</p>
    <button class="resetbutton" onClick="reset()">Reset</button>
    
    </form>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <!--{{ form.number.label }}
        {{ form.number(size=32) }}-->
        {{ form.submit() }}
    </form>

    

    <p>Once you've saved your result, <a href="{{ url_for('feedback') }}">click to view your feedback</a></p>
   


{% endblock %}