{%extends "base.html"%}

{% block content %}
<div class="d-flex" id="wrapper">
<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Consent</div>
    
    <!-- buttons linking sections of the tutorial -->
    <div class="list-group list-group-flush">
        <button class="list-group-item list-group-item-action bg-light tabLinks" onclick="openTab(event, 'consent1')">What is consent</button>
        <button class="list-group-item list-group-item-action bg-light tabLinks" onclick="openTab(event, 'consent2')">Who can't give consent</button>
        <button class="list-group-item list-group-item-action bg-light tabLinks" onclick="openTab(event, 'consent3')">How does consent work</button>
        <button class="list-group-item list-group-item-action bg-light tabLinks" onclick="openTab(event, 'consent4')">How to ask for consent</button>
        <button class="list-group-item list-group-item-action bg-light tabLinks" onclick="openTab(event, 'consent5')">Some scenarios</button>
    </div>
</div>

<div id="page-content-wrapper">
    
    <!-- Tab contents -->
<div id="consent1" class="tabcontent">
    <h3>What is consent?</h3>
    <p>Consent is defined as "permission for something to happen or agreement to do something". It is generally referred to with regards to sexual intercourse, but can involve anything from kissing, to touching to sex. It is important to make sure you obtain consent before proceeding with any type of sexual activity.</p>
</div>
<div id="consent2" class="tabcontent">
    <h3>Who can't give consent?</h3>
    <p>There are certain types of people who are unable to give consent. These include: </p>
    <ul> Minors (people under the age of 16) </ul>
    <ul> Those who are unconscious, asleep, intoxicated, drugged, or otherwise unable to say 'yes' </ul>
    <ul> Those who have a psychological or decision-making disability that impacts on their ability to understand what they are consenting to </ul>

</div>
<div id="consent3" class="tabcontent">
    <h3>How does consent work?</h3>
    <p>The way consent works nowadays is simple. Consent should be: </p>
        <ul> Enthusiastic - A person should obtain enthusiastic consent before proceeding with an activity. Remember that lack of resistance is not the same as saying yes </ul>
        <ul> Ongoing - your partner should be able to change their mind at any time, and you will need to get consent every time the activity is performed </ul>   
        <ul> Respected - above all, you should respect your partner's wishes when they do not give consent, and they should respect yours. If either of you become uncomfortable at any time, you have the right to ask to stop, and the other person must listen. 
</div>
<div id="consent4" class="tabcontent">
    <h3>How to ask for consent?</h3>
    <p>Asking for consent doesn't have to be boring or a mood killer! There are many ways to get consent, it's all about how you ask. Consider questions such as:</p>
    <ul> "Can I" </ul>
    <ul> "Do you want me to..?" </ul>
    <ul> "Want to try..?" </ul>
    <ul> "Can we..?" </ul>
    <ul> "Are you ready to..?" </ul>
    <ul> "Do you like this?" </ul>
    <ul> "Do you want to..?" </ul>
    <ul> "Is this ok?" </ul>
    <ul> "How do you feel about?" </ul>
    <ul> "How are you feeling?" </ul>
    <p>Of course, consent doesn't necessarily have to be given verbally. Non-verbal ways people may give consent include:</p>
    <ul> Head nodding </ul>
    <ul> Pulling someone closer</ul>
    <ul> Making direct eye contact</ul>
    <ul> Actively touching someone or initiating sexual activity</ul>
    
    <p> However, when checking to see if you have consent, it is important to make sure you go slowly, and stop if the person feels uncomfortable. Some signs that a person might be uncomfortable and want you to stop:</p>
    <ul> "No" </ul>
    <ul> "Stop" </ul>
    <ul> "Maybe" </ul>
    <ul> "I'm not sure" </ul>
    <ul> "I don't want to" </ul>
    <ul> "I don't think I'm ready" </ul>
    <ul> "Can we slow things down" </ul>
    <ul> Pulling away or resisting </ul>
    <ul> Being silent or not responding </ul>
    <ul> Agreeing to go on a date </ul>
    <ul> Showing interest in you </ul>
    <p> Remember that just because a person says they like you or shows interest in you, it does not mean you have their consent, as consent must be ongoing. </p>
    
    

</div>
<div id="consent5" class="tabcontent">
    <h3>Some scenarios</h3>
    <li> Nathan and Annie go on a date. John is 13 years old while Annie is 19. After the date, they kiss, and Annie asks Nathan if he wants to have sex with her. Nathan says yes because he really likes Annie, and he feels like he is ready. 

        This situation is not consensual, as one of the participants is under the legal age of consent. There is a big difference in maturity between a 19-year-old and a 13-year-old, which causes Annie to hold a position of power over Nathan. The situation would be the same if the genders were switched. </li>


      <li> Sophie and Sienna have been dating for a year now. They were childhood best friends, and they know each other very well and care for one another deeply. They are both 15 years old. Recently, they have talked about having sex together. Both are excited, and they talk about safety and their boundaries before proceeding. 
        
        This situation is not legally consensual, however, if the situation were to be investigated, it would be unlikely to lead to problems as it is an ethically consenting situation. There is also no age difference between Sophie and Sienna, which indicated that there are no power dynamics. </li>

      <li> Kate and David have been dating for 3 weeks before they decide to go to the school dance together. So far, they have only cuddled and held hands. At the dance, they find themselves alone in a corner with nobody watching. Kate leans over to kiss David, and David enjoys it at first, but then begins to get uncomfortable and wants to stop. He tells Kate that he doesn’t want to keep going right now, but Kate ignores him and continues. 
        
        This situation is not consensual. When somebody asks to stop, the other person must listen. If they fail to do so, they are breaking the law. Remember, consent can be withdrawn at any time, and the person must respect your wishes. This would likely be a negative experience for David and is not a good foundation for a relationship. The situation would be the same if the genders were reversed. </li>
</div>
</div>

{% endblock %}
